.header{
    background-color: #131921;
    display: flex;
    position: fixed;
    z-index: 100;
    flex: 1;
    right: 0;
    left: 0;
   
}

.header_logo_img{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 20px;
    object-fit: contain;
}



.header_searchInput{
    margin-left: 80px;
    margin-top: 10px;
    /* margin-bottom:9px;  */
    /* width: 15px; */
    height: 22px;
    border: none;
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header_searchIcon{
    margin-top: 10px;
    /* margin-right: 80px; */
    background-color: #cd9042;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.headerNav{
    display: flex;
    justify-content: space-evenly;
}

.header_link{
    color: white;
    text-decoration: none;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
    margin-right:10px; 
}

.aa{
    font-size: 10px;
}

.b{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBsket{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cc{
    margin-left: 10px;
    margin-right: 10px;
}

